doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home
  link(rel='stylesheet' href='css/home.css')
.overlay
.container
  header
    img.logo(src='images/Mayondo_Wood_Furniture_Store_Logo.png' alt='Mayondo Logo')
    h1 Mayondo Wood &amp; Furniture Ltd.
  .card
    h2 Welcome!
    p Crafting timeless wooden pieces with passion, precision and purpose.
    .buttons
      a.btn.signup(href='/register') Sign Up
      a.btn.login(href='/login') Login
