doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Reset Password
  link(rel='stylesheet' href='css/reset_password.css')
.overlay
.container
  header
    img.logo(src='images/Mayondo_Wood_Furniture_Store_Logo.png' alt='Mayondo Logo')
    h1 Mayondo Wood &amp; Furniture Ltd
  if success_msg.length
    .alert.success #{success_msg}
  if error_msg.length
    .alert.error #{error_msg}
  .card
    h2 Reset Your Password
    p
      | Enter your registered email address and we&rsquo;ll send you a link to reset your password.
    form(action='/reset' method='POST')
      .form-group
        label(for='email') Email Address
        input#email(type='email' name='email' placeholder='Enter your email' required='')
      button.btn.reset(type='submit') Send Reset Link
      p.login-link
        | Remembered your password? 
        a(href='/login') Login
