doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Password Reset Successful
  link(rel='stylesheet' href='css/reset_confirm.css')
.overlay
.container
  header
    img.logo(src='images/Mayondo_Wood_Furniture_Store_Logo.png' alt='Mayondo Logo')
    h1 Mayondo Wood &amp; Furniture Ltd
  if success_msg.length
    .alert.success #{success_msg}
  if error_msg.length
    .alert.error #{error_msg}

  .card
    h2 Password Reset Successful
    p
      | Your password has been updated successfully.
      br
      | You can now log in with your new credentials.
    a.btn.login(href='/login') Go to Login
