body {
  font-family: "Poppins", sans-serif;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/wood_background_2.jpg") no-repeat center center fixed;
  background-size: cover;
  /* position: relative;
  overflow: hidden; */
  /* margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url("../images/wood_background_2.jpg") no-repeat center center fixed;
  color: #333; */
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 700px;
}

.logo {
    width: 90px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 10px;
  animation: float 3s ease-in-out infinite;
}

h1 {
  font-size: 26px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.card {
  background: #f7d5d5;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  padding: 30px;
  text-align: left;
}

.card h2 {
  text-align: center;
  color: #2e3d29;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 18px;
}

label {
  display: block;
  font-weight: 600;
  color: #555;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

input[type="file"] {
  border: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 12px;
  background: #c18632;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #9b600d;
}

@media (max-width: 600px) {
  .card {
    padding: 20px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}